<!--
    임규연 lky473736
    about.html

    about 페이지
    - 자기소개, 학력, 주요수상이력, 관심사 등을 표현
    - 깔끔하고 보기 편하게 pretendard 폰트를 사용함
    - 접근성을 위하여 링크에 이미지를 탑재
    - 자바스크립트를 사용하여 반응형 버튼을 구현
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style1.css">
    <link rel="stylesheet" href="../style/style2.css">
    <link rel="stylesheet" href="../style/style3.css">
    <link rel="stylesheet" href="../style/style4.css">
    <style>
        /*
        @font-face {
            font-family : 'pretendard';
            src : url('media/font/font_pretendard.otf');
        }

        @font-face {
            font-family : 'pretendard_bold';
            src : url('media/font/font_pretendard_bold.otf');
        }
        
        @font-face {
            font-family : 'pretendard_thin';
            src : url('media/font/font_pretendard_thin.otf');
        }

        #description {
            font-family : 'pretendard';
        } */
        table#gpa {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            table-layout: fixed;
        }
        
        #gpa th, #gpa td {
            padding: 12px;
            text-align: left;
            border: 1px solid #dddddd;
            white-space: nowrap;
            text-align: center;
        }
        
        #gpa th {
            background-color: #f2f2f2;
        }
        
        #gpa td {
            font-size : 17px;
        }
        
        #gpa tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <a href="menu.html" class="button" id="menu">menu</a>
    <span style="position : relative; top : 20px; left : 55px; font-family: 'playfair display'; font-size : 17px;">You can see the specific information about me!</span>

    <a href="mailto:lky473736@icloud.com"><input type="button" class="button image" id="email" onclick="alert('mail to lky473736...');"></a>

    <a href="https://github.com/lky473736"><input type="button" class="button image" id="github"></a>
    
    <div id="line"></div>

    <!--=======================================-->

    <div class="about" id="description">
        <img src="../media/img/icon/icon_procedure.png" alt="logo trademark" style="width : 100px; display : inline-block"> &nbsp; &nbsp;
        <span style="font-family : 'playfair display'; font-size : 30px;">Tomorrow-maker, Lim Gyu-Yeon.</span>

        <p id="top" style="margin-bottom : 60px"><span id='specific'><b>안녕하세요, 임규연입니다.</b> </span>수학 및 알고리즘 문제를 분석하고 해결하는 것을 좋아합니다. 내일을 위한  인공지능을 만들기 위해 끊임없이 고민하고 도전합니다.</p>

        <span id="specific" style="font-size : 23px;"><b>임규연 lky473736</b></span> &nbsp; &nbsp;
        <br>
    
        <table id="simple" style="margin-top : 10px; margin-bottom : 10px">
            <tr>
                <td><img src="../media/img/icon/icon_at.png" alt="icon at"></td>
                <td style="font-family : 'pretendard'"><a style="color : #3b34be7f;" href="mailto : lky473736@icloud.com">lky473736@icloud.com</a></li></td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'"><a style="color : #0000007f;" href="https://www.gachon.ac.kr/sites/cs/index.do">가천대학교 컴퓨터공학부(컴퓨터공학전공) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 23학번 2학년 재학</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">가천대학교 이차전지융합사업단 주관 '이차전지 인공지능' 마이크로디그리 이수 (2023년도)</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">KAIST 사이버영재교육원 컴퓨터공학 (C언어 Level B) 이수 (2015년도)</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">주요 수상 이력 : 23년도 가천대학교 소프트웨어 경진대회 대상, 23년도 가천대학교 아르테크네 주관 내진설계 프로젝트 1위</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_company.png" alt="icon company"></td>
                <td style="font-family : 'pretendard'">2025년도 가천대학교 알고리즘 학회 'Procedure' 학회장 (25년도 3월부터 운영 예정)</td>
            </tr>
        </table>

        <a style="color : #0000007f;" href="https://github.com/lky473736">GitHub : lky473736 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> &nbsp; &nbsp;

        <br>

        <table id="gpa">
            <thead>
                <tr>
                    <th rowspan="2">GPA</th>
                    <th>1-1</th>
                    <th>1-2</th>
                    <th>2-1</th>
                    <th>2-2</th>
                    <th>3-1</th>
                    <th>3-2</th>
                    <th>4-1</th>
                    <th>4-2</th>
                    <th>Avg.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.</td>
                    <td>4.42/4.5</td>
                    <td>4.5/4.5</td>
                    <td>4.5/4.5</td>
                    <td>?/4.5</td>
                    <td>?/4.5</td>
                    <td>?/4.5</td>
                    <td>?/4.5</td>
                    <td>조기졸업</td>
                    <td>4.48</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>


        <img src="../media/img/fig/fig_ntree.png" alt="fig ntree">
        <br>
        <span style="float : right; font-size : 15px">@ Creative N-Tree Camp (for freshman / 2023)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 인공지능계의 새로운 파란을 일으키고 싶습니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://astonishing-antlion-13b.notion.site/Portfolio-bc930afa7b954b6f9874f04036d498bc?pvs=4">Notion으로 작성한 포트폴리오 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> &nbsp; &nbsp; 
        <a style="color : #0000007f;" href="https://github.com/lky473736">GitHub : lky473736 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>
        <br>
        <br>
        <p>저는 큰 야망을 가지고 있습니다. 머신러닝 및 최적화 알고리즘을 전공하여, 세상을 아우를 수 있는 기술을 개발하고 싶습니다. 저는 팀워크를 중시하며, 협업 시 Task를 효율적이고 신속히 처리하기 위한 알고리즘 및 최적해를 탐구하고 그를 실행하는 소속원이 되려 노력합니다. 수학을 몹시 좋아합니다. Problem Solving을 자주 하며, 코딩테스트(알고리즘) 문제풀이 사이트인 <a style="color : #0000007f;" href="https://www.acmicpc.net/user/lky473736">백준온라인저지의 하드 유저 (상위 2% / 교내 728명 중 37위) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 입니다.</p>

        <div style="display: flex; align-items: flex-start;">
            <iframe style="flex : 1; border-radius : 5px;" width="560" height="315" src="https://www.youtube.com/embed/hDRl1v_cr4Q?si=QArEYL2Prg0k7Il2" title="youtube iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <p style="margin-left: 20px; flex: 1; font-size : 16px;">
            자연어 처리 및 객체 인식 (Object Recognition)에도 많은 관심을 가지고 있습니다. 현재 <a style="color : #0000007f;" href="https://github.com/lky473736/freund">freund <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>라고 하는 프로젝트를 진행 중입니다. 하이퍼링크를 누르면 freund를 진행하면서 작성한 소스코드를 확인할 수 있습니다. Llama을 C++로 개조한 모델을 이용하여 상대방의 말을 인식하고 반응할 수 있는 GPT와 같은 AI 챗봇 서비스입니다. 7월 초에 개발을 완료할 것이며, 오픈소스로 모두에게 기여할 예정입니다. 
            <br>
            <br>
            <a style="color : #0000007f;" href="https://www.youtube.com/watch?v=HpGfEMUJuj0&list=PLeU-NmSi8C2iNDIHJCa6KfhY-Owb27sM8&index=1">freund를 정리한 주차별 웜업 비디오 보기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> <br>
            <a style="color : #0000007f;" href="https://github.com/lky473736/freund/tree/main/model">모델 상세히 보기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>
            </p> 
            <br>
        </div>
        <!--=================-->

        <br>
        <br>
        <br>

        <img src="../media/img/fig/fig_tutoring.png" alt="fig tutoring">
        <br>
        <span style="float : right; font-size : 15px">@ tutoring for freshman at Dept. Computer Science and Engineering (2024 - 1)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 배움을 얻는 컴퓨터공학도이자, 배움을 주는 선생님입니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://github.com/tutoring-gachonwind">학생들이 만든 Python 미니프로젝트 열람하기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 
        <br>
        <br>

        <p>
            교육공학 또한 저를 흥미롭게 합니다. 저는 2023년 6월부터 지금까지 위례 및 강남 소재의 학원에서 고2, 고3을 대상으로 수능 대비 수학 강사로 출강하고 있습니다. 학생들을 제 손으로 직접 가르치고 케어해보니, 교수자 및 교육자의 시선에서 바라보는 교육의 현장이 그리 쉽지 않았다는 것을 매번 깨닿고 있습니다. 하지만 저는 가르치는 지금의 제 모습이 너무 멋지고 기쁩니다. 아이들과 함께 성장하고 있다는 게 느껴집니다. 살아있다는 기분을 느낍니다.
        </p>
        
        
        <p>
            저는 2024년 올해 1학기에 컴퓨터공학부 신입생들을 대상으로 멘토멘티 튜터링을 진행하였습니다. 총 5명의 튜티들에게 전문적인 파이썬 및 백엔드 프레임워크 등을 <a style="color : #0000007f;" href="https://www.youtube.com/watch?v=6OujX4J0FIE&list=PLeU-NmSi8C2jO6BM6mhriMfbg--aZnz0S">비대면 온라인 학습 (유튜브) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>을 통해 가르쳤고, 학기말엔 각자 <a style="color : #0000007f;" href="https://github.com/tutoring-gachonwind">미니프로젝트 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>를 실시하여 구현력을 증진시켰습니다.
        </p>

        <!--=================-->

        <br>
        <br>
        <br>

        <img src="../media/img/fig/fig_self.png" alt="fig tutoring">
        <br>
        <span style="float : right; font-size : 15px">@ Histplot that express the views about the self-made quiz for learning-C for students (2023 - 2)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 오픈소스에 기여에 희열을 느낍니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://github.com/lky473736/problemsolving/tree/main/self-made">컴퓨터공학전공생들을 위한 연습문제들을 열람하기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 
        <br>
        <br>

        <p>
            저는 1학년 1학기부터, 컴퓨터공학전공생들을 위해 매학기 언어/이론과목을 대비할 수 있는 연습문제집을 만들어서 배포하고 있습니다. 파이썬, C언어, HTML, CSS, 자료구조를 심층적으로 학습할 수 있는 자체 제작 문제로, 많은 전공생들이 제 연습문제를 기반으로 하여 자신의 실력을 테스트하고 있습니다. 제 문제들은 단순히 이론을 묻는 문제가 아닌, 이론을 이용하여 무언가를 만들어내고 활용해야 하는 문제입니다.
        </p>
        
        
        <p>
            위 Figure은 제가 2023년 2학기 때 만들었던 "컴퓨터공학전공 중간고사 대비 C언어 연습문제집"의 조회수를 기준으로 한 꺾은선히스토그램입니다. 위 기록은 그동안의 최고기록으로, 총 조회수는 1,081뷰, 일일 최다 조회수는 424뷰를 기록하였습니다. 저는 앞으로도 계속 저만의 창의력을 발휘하여 모두를 위한 오픈소스 코드와 자료를 만들어나가고 싶습니다.
        </p>
    </div>
    <div class="button" id="upb"><b>↑</b></div>

    <script> 
        document.getElementById('upb').addEventListener('click', function() {
            window.location.href = '#menu';
        });
    </script>

    
    <div id="line"></div>
    <div style="display : flex; justify-content : center; align-items : center; text-align : center;">
        <p>
            <b>임규연 @ lky473736</b> <br>
            <b>Copyright 2024. 임규연, All pictures cannot be copied without permission.</b>
        </p>
    </div>
    <br>
</body>
</html>