<!--
    임규연 lky473736
    about.html

    about 페이지
    - 자기소개, 학력, 주요수상이력, 관심사 등을 표현
    - 깔끔하고 보기 편하게 pretendard 폰트를 사용함
    - 접근성을 위하여 링크에 이미지를 탑재
    - 자바스크립트를 사용하여 반응형 버튼을 구현
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style1.css">
    <link rel="stylesheet" href="../style/style2.css">
    <link rel="stylesheet" href="../style/style3.css">
    <link rel="stylesheet" href="../style/style4.css">
    <style>
        /*
        @font-face {
            font-family : 'pretendard';
            src : url('media/font/font_pretendard.otf');
        }

        @font-face {
            font-family : 'pretendard_bold';
            src : url('media/font/font_pretendard_bold.otf');
        }
        
        @font-face {
            font-family : 'pretendard_thin';
            src : url('media/font/font_pretendard_thin.otf');
        }

        #description {
            font-family : 'pretendard';
        } */
        table#gpa {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            table-layout: fixed;
        }
        
        #gpa th, #gpa td {
            padding: 12px;
            text-align: left;
            border: 1px solid #dddddd;
            white-space: nowrap;
            text-align: center;
        }
        
        #gpa th {
            background-color: #f2f2f2;
        }
        
        #gpa td {
            font-size : 17px;
        }
        
        #gpa tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <a href="menu.html" class="button" id="menu">menu</a>
    <span style="position : relative; top : 20px; left : 55px; font-family: 'playfair display'; font-size : 17px;">You can see the specific information about me!</span>

    <a href="mailto:lky473736@gmail.com"><input type="button" class="button image" id="email" onclick="alert('mail to lky473736...');"></a>

    <a href="https://github.com/lky473736"><input type="button" class="button image" id="github"></a>
    
    <div id="line"></div>

    <!--=======================================-->

    <div class="about" id="description">
        <img src="../media/img/icon/icon_procedure.png" alt="logo trademark" style="width : 100px; display : inline-block"> &nbsp; &nbsp;
        <span style="font-family : 'playfair display'; font-size : 30px;">Tomorrow-maker, Lim Gyu-Yeon.</span>

        <p id="top" style="margin-bottom : 60px"><span id='specific'><b>안녕하세요, 임규연입니다.</b> </span>수학 및 알고리즘 문제를 분석하고 해결하는 것을 좋아합니다. 내일을 위한 인공지능을 만들기 위해 끊임없이 고민하고 도전합니다.</p>

        <span id="specific" style="font-size : 23px;"><b>임규연 lky473736</b></span> &nbsp; &nbsp;
        <br>
    
        <table id="simple" style="margin-top : 10px; margin-bottom : 10px">
            <tr>
                <td><img src="../media/img/icon/icon_at.png" alt="icon at"></td>
                <td style="font-family : 'pretendard'"><a style="color : #3b34be7f;" href="mailto : lky473736@gmail.com">lky473736@gmail.com</a></li></td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'"><a style="color : #0000007f;" href="https://www.gachon.ac.kr/sites/cs/index.do">가천대학교 컴퓨터공학부(컴퓨터공학전공) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 23학번 재학</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'"><a style="color : #0000007f;" href="https://www.gachon.ac.kr/cs/5905/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGY3MlMkY5MjklMkYxMDYwNDglMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNnNyY2hDb2x1bW4lM0QlMjZzcmNoV3JkJTNEJTI2YmJzQ2xTZXElM0QlMjZiYnNPcGVuV3JkU2VxJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNmlzVmlld01pbmUlM0RmYWxzZSUyNnBhc3N3b3JkJTNEJTI2">서울대학교병원-가천대학교 공동연구실 학부인턴 (DAC-BMI Lab)<img style="width : 25px; " src="../media/img/icon/icon_link.png"></a></td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">가천대학교 이차전지융합사업단 주관 '이차전지 인공지능' 마이크로디그리 이수 (2023년도)</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">KAIST 사이버영재교육원 컴퓨터공학 (C언어 Level B) 이수 (2015년도)</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_univ.png" alt="icon univ"></td>
                <td style="font-family : 'pretendard'">주요 수상/출전 : 23년도 가천대학교 소프트웨어 경진대회 대상, 2024 ICPC Asia Seoul Regional Contest Player</td>
            </tr>
            <tr>
                <td><img src="../media/img/icon/icon_company.png" alt="icon company"></td>
                <td style="font-family : 'pretendard'">2025년도 가천대학교 알고리즘 학회 'Procedure' 학회장 (25년도 9월부터 운영 예정)</td>
            </tr>
        </table>

        <a style="color : #0000007f;" href="https://github.com/lky473736">GitHub : lky473736 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> &nbsp; &nbsp;

        <br>

        <table id="gpa">
            <thead>
                <tr>
                    <th rowspan="2">GPA</th>
                    <th>1-1(20)</th>
                    <th>1-2(18)</th>
                    <th>2-1(20)</th>
                    <th>2-2(21)</th>
                    <th>3-1</th>
                    <th>3-2</th>
                    <th>4-1</th>
                    <th>4-2</th>
                    <th>Avg.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.</td>
                    <td>4.42/4.5</td>
                    <td>4.5/4.5</td>
                    <td>4.5/4.5</td>
                    <td>4.43/4.5</td>
                    <td>?/4.5</td>
                    <td>?/4.5</td>
                    <td>?/4.5</td>
                    <td>조기졸업</td>
                    <td>4.46</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>


        <img src="../media/img/fig/fig_ntree.png" alt="fig ntree">
        <br>
        <span style="float : right; font-size : 15px">@ Creative N-Tree Camp (for freshman / 2023)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 인공지능계의 새로운 파란을 일으키고 싶습니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://astonishing-antlion-13b.notion.site/Portfolio-bc930afa7b954b6f9874f04036d498bc?pvs=4">Notion으로 작성한 포트폴리오 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> &nbsp; &nbsp; 
        <a style="color : #0000007f;" href="https://github.com/lky473736">GitHub : lky473736 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>
        <br>
        <br>
        <p>저는 큰 야망을 가지고 있습니다. 머신러닝 및 최적화 알고리즘을 전공하여, 세상을 아우를 수 있는 기술을 개발하고 싶습니다. 저는 팀워크를 중시하며, 협업 시 Task를 효율적이고 신속히 처리하기 위한 알고리즘 및 최적해를 탐구하고 그를 실행하는 소속원이 되려 노력합니다. 수학을 몹시 좋아합니다. Problem Solving을 자주 하며, 코딩테스트(알고리즘) 문제풀이 사이트인 <a style="color : #0000007f;" href="https://www.acmicpc.net/user/lky473736">백준온라인저지의 하드 유저 (상위 2% / 교내 728명 중 37위) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 입니다.</p>

        <!--=================-->

        <br>
        <br>
        <br>

        <img src="../media/img/fig/fig_tutoring.png" alt="fig tutoring">
        <br>
        <span style="float : right; font-size : 15px">@ tutoring for freshman at Dept. Computer Science and Engineering (2024 - 1)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 배움을 얻는 컴퓨터공학도이자, 배움을 주는 선생님입니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://github.com/tutoring-gachonwind">학생들이 만든 Python 미니프로젝트 열람하기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 
        <br>
        <br>

        <p>
            교육공학 또한 저를 흥미롭게 합니다. 저는 2023년 6월 부터 지금까지 위례 및 강남 소재의 학원에서 고2, 고3을 대상으로 수능 대비 수학 강사로 출강하고 있습니다. 지엽적인 교과 외 과정 학습과 스킬을 이용한 문제풀이 방식을 지양하고, 교과서 개념의 완전한 이해를 통해 직관력과 반응력을 배양하는 데 중점을 두면서 강의합니다. 그 누구도 밟을 수 없는 집념을 가지면서 성실히 나아가는 학생에게 동반자로서의 역할을 다 할 수 있도록 최선을 다하고 있습니다.            
        </p>
        
        
        <p>
            저는 2024년 1학기에 컴퓨터공학부 신입생들을 대상으로 멘토멘티 튜터링을 진행하였습니다. 총 5명의 튜티들에게 전문적인 파이썬 및 백엔드 프레임워크 등을 <a style="color : #0000007f;" href="https://www.youtube.com/watch?v=6OujX4J0FIE&list=PLeU-NmSi8C2jO6BM6mhriMfbg--aZnz0S">비대면 온라인 학습 (유튜브) <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>을 통해 가르쳤고, 학기말엔 각자 <a style="color : #0000007f;" href="https://github.com/tutoring-gachonwind">미니프로젝트 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a>를 실시하여 구현력을 증진시켰습니다. 추후에도 본 비교과 프로그램이 열릴 시에 진행할 예정입니다.
        </p>

        <!--=================-->

        <br>
        <br>
        <br>

        <img src="../media/img/fig/fig_self.png" alt="fig tutoring">
        <br>
        <span style="float : right; font-size : 15px">@ Histplot that express the views about the self-made quiz for learning-C for students (2023 - 2)</span>
        <br>
        <br>
        <span id="specific" style="font-size:30px;"><b>저는 오픈소스에 기여에 희열을 느낍니다.</b></span>
        <div style="margin-top : 10px"></div>
        <a style="color : #0000007f;" href="https://github.com/lky473736/problemsolving/tree/main/self-made">컴퓨터공학전공생들을 위한 연습문제들을 열람하기 <img style="width : 25px; " src="../media/img/icon/icon_link.png"></a> 
        <br>
        <br>

        <p>
            저는 1학년 1학기부터, 컴퓨터공학전공생들을 위해 매학기 언어/이론과목을 대비할 수 있는 연습문제집을 만들어서 배포하고 있습니다. 파이썬, C언어, HTML, CSS, 자료구조를 심층적으로 학습할 수 있는 자체 제작 문제로, 많은 전공생들이 제 연습문제를 기반으로 하여 자신의 실력을 테스트하고 있습니다. 제 문제들은 단순히 이론을 묻는 문제가 아닌, 이론을 이용하여 무언가를 만들어내고 활용해야 하는 문제입니다.
        </p>
        
        
        <p>
            위 Figure은 제가 2023년 2학기 때 만들었던 "컴퓨터공학전공 중간고사 대비 C언어 연습문제집"의 조회수를 기준으로 한 꺾은선히스토그램입니다. 위 기록은 그동안의 최고기록으로, 총 조회수는 1,081뷰, 일일 최다 조회수는 424뷰를 기록하였습니다. 저는 앞으로도 계속 저만의 창의력을 발휘하여 모두를 위한 오픈소스 코드와 자료를 만들어나가고 싶습니다.
        </p>
    </div>
    <div class="button" id="upb"><b>↑</b></div>

    <script> 
        document.getElementById('upb').addEventListener('click', function() {
            window.location.href = '#menu';
        });
    </script>

    
    <div id="line"></div>
    <div style="display : flex; justify-content : center; align-items : center; text-align : center;">
        <p>
            <b>임규연 @ lky473736</b> <br>
            <b>Copyright 2024. 임규연, All pictures cannot be copied without permission.</b>
        </p>
    </div>
    <br>
</body>
</html>