<!--
    임규연 lky473736
    menu.html

    menu 페이지
    - 사용자가 main, about, skills and links, projects and awards, contact 중 자유로히 이동할 수 있도록 구현
    - a태그에 hover할 시 box-shadow가 작동되도록 구현하여 실제감을 강조함
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style1.css">
    <link rel="stylesheet" href="../style/style2.css">
    <link rel="stylesheet" href="../style/style3.css">
    <link rel="stylesheet" href="../style/style4.css">
</head>
<body>
    <div class="wrapper" id="menu">
        <a href="about.html"><span class="text" id="menu">About Lim Gyu Yeon</span></a> 
        <br>
        <a href="skills.html"><span class="text" id="menu">Skills and Links</span></a>
        <br>
        <a href="proj.html"><span class="text" id="menu">Projects and Awards</span></a>
        <br>
        <a href="contact.html"><span class="text" id="menu">Contact</span></a>
    </div>
    
    <a href="main.html"><img class="button" id="close" src="../media/img/icon/icon_close.png" alt="button close"></a>
    <span style="position : fixed; bottom : 65px; left : 150px; font-family: 'playfair display'; font-size : 20px;">You will move to main page.</span>
</body>
</html>